* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.menu-bar{
    display: flex;
    align-items: center;
    padding: 20px;
    background-size: co;
}
nav{
    flex: 1;
    text-align:center;
    background-color: green;
}
nav ul{
    display: inline-block;
    list-style: none;
    width: 100%;
}
nav ul li{
    display: inline-block;
    margin: 20px;
    word-spacing: 50px; 
}
a{
    text-decoration: underline;
    color: #fff;
}
.hero{
    width: 100%;
}
.row{
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col{
    flex-basis: 45%;
}
.slider{
    height: 80vh;
    display: flex;
}
.product img{
    height: 19vh;
    margin-bottom: 9px;
    cursor: pointer;
    opacity: 0.6;
}

.product img:hover{
    opacity: 1;
}
.preview img{
    height: 100%;
}
p{
    margin-bottom: 20px;
   
}
.brand{
    background: #008000;
    width: fit-content;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
}
h2{
    font-size: 45px;
    color: #555;
    margin-bottom: 20px;
}
.rating{
    display: flex;
    height: 15px;
}
.rating .fa{
    color: #008000;

}

.price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
    font-weight: 400;
}
    .last-price span{
        color: #f64749;
        text-decoration: line-through;
    }
    .new-price span{
        color: #256eff;
    }

    .purchase-info{
        margin: 1.5rem 0;
    }
    .purchase-info input,
    .purchase-info .btn{
        border: 1.5px solid #ddd;
        border-radius: 25px;
        text-align: center;
        padding: 0.45rem 0.8rem;
        outline: 0;
        margin-right: 0.2rem;
        margin-bottom: 1rem;
    }
    .purchase-info input{
        width: 60px;
    }
    .purchase-info .btn{
        cursor: pointer;
        color: #fff;
    }
    .purchase-info .btn:first-of-type{
        background: #256eff;
    }
   
    .purchase-info .btn:hover{
        opacity: 0.9;
    }
input{
    width: 30px;
    border: 1px solid #ccc;
    font-weight: bold;
    text-align: center;
}
button{
    color: #fff;
    font-size: 15px;
    outline: none;
    border: 0;
    border-radius: 5px;
    background: #fe980f;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
}
button .fa{
    margin-right: 10px;
}
.related{
    width: 90%;
    margin: 0 auto 40px;
}
.related .row{
    width: 100%;
    height: auto;
}
.columns{
    flex-basis: 22%;
    height: 100%;
}
.items img{
    width: 100%;
}
.details{
    margin-top: 20px;
}
.details p{
    font-size: 14px;
    margin-bottom: 10px;
}
.details .rating{
    margin: 10px 0;
}

.newsletter .container{
    padding-top: 0;
    background-color: #f64749;
    
}
.newsletter-content{
   
    color: rgb(17, 16, 17);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.newsletter .title{
    text-align: center;
}
.form-group{
    margin: 30px 0;
}
.form-control{
   
    font-weight: 400;
    padding: 16px 28px;
    border-radius: 50px;
    width: 100%;
}
.submit{
    color: orangered;
    border-color: black;
    font-weight: 400;
    padding: 10px 15px;
    border-radius: 20px;
    width: 100%;

}


